
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url("./background.png");
}

header {
  background-color: #46535d;
  color: #fff;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Georgia', serif;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

main {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
  background-color: #a2a2a2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#video-player {
  flex: 1;
  height: 400px;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

#upload-area {
  flex: 1;
  margin: 20px;
}

#upload-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#video-title, #video-description {
  background-color: #ececec;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

#upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

#upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#upload-btn-wrapper #upload-btn,
#submit-btn {
  border: none;
  color: white;
  background-color: #4CAF50;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0;
}
